#### DATABASE

# Postgres — database connection
DATABASE_URL=
DATABASE_URL_POOLED=

# Neon credentials:
user: abcdumplings@tuamaeaquelaursa.com
password: te@cherAwshaf123

##### Test accounts:

# Admin account
user: admin@abcdumplings.ca
password: admin123

# Employee account
user: maria@abcdumplings.ca
password: password123
