#### DATABASE

# Postgres — database connection
DATABASE_URL=
DATABASE_URL_POOLED=

# Neon credentials:
user: <--- Please check with the administrator --->
password: <--- Please check with the administrator --->

##### Test accounts:

# Admin account
user: admin@abcdumplings.ca
password: admin123

# Employee account
user: maria@abcdumplings.ca
password: password123
